@font-face {
    font-family: 'iconfont';
    /* project id 191130 */
    src: url('//at.alicdn.com/t/font_9dmr294maco0qkt9.eot');
    src: url('//at.alicdn.com/t/font_9dmr294maco0qkt9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_9dmr294maco0qkt9.woff') format('woff'), url('//at.alicdn.com/t/font_9dmr294maco0qkt9.ttf') format('truetype'), url('//at.alicdn.com/t/font_9dmr294maco0qkt9.svg#iconfont') format('svg');
}

* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.u-icon {
    font-family: 'iconfont';
    font-style: normal;
}

.u-sm {
    font-size: 12px;
}

html,
body,
#app,
.stage-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    background: #f5f5f5
}

h1 {
    font-size: 35px;
}

a,
a:visited {
    text-decoration: none;
}

code {
    background: #D3DCE6;
    font-weight: bold;
}

blockquote {
    padding: 5px;
    border-left: 5px solid #C0CCDA;
    background: #EFF2F7;
}


/*----------
stage
-----------*/

.stage {
    width: 100%;
    height: 100%;
    transition: all .5s;
    transform: translateY(0);
}

.stage-1 {
    transform: translateY(-100%);
}

.stage-2 {
    transform: translateY(-200%);
}

.stage-3 {
    transform: translateY(-300%);
}

.stage-view {
    position: relative;
}


/*----------
stage end
------------------------------------------
hd-card
-----------*/

.hd-card {
    position: absolute;
    left: 50%;
    top: 0;
    width: 270px;
    border-radius: 15px;
    margin-left: -135px;
    transform: translate(0, 50%);
    text-align: center;
    background: #f5f5f5;
    color: #666;
    overflow: hidden;
}

.hd-card_img {
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2)
}

.hd-card_img-item {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.hd-card_info {
    margin: 15px 0;
}

.hd-card_info-sum {
    font-size: 14px;
}

.hd-card_nav {
    display: flex;
}

.hd-card_nav a {
    flex: 1;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}

.hd-card_nav a:link,
.hd-card_nav a:visited {
    color: inherit;
}

.hd-card_nav span {
    font-size: 13px;
}

.hd-card_nav .u-icon {
    display: block;
    font-size: 30px;
}


/*----------
hd-card end
------------------------------------------
next
-----------*/

.next {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: all .5s;
}

.next_btn {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: #666 transparent transparent transparent;
    margin: 15px auto;
    animation: next_btn-amt 0.5s infinite alternate;
}

.next:hover {
    transform: scale(1.2)
}

.next_btn::before {
    position: absolute;
    display: block;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: #aaa transparent transparent transparent;
}

.next_btn::before {
    top: -8px;
    border-width: 15px;
    border-color: #888 transparent transparent transparent;
    animation: next_btn_aft-amt 0.5s infinite alternate;
}

@keyframes next_btn-amt {
    0% {
        transform: translate(0, 0) scale(1.2);
    }
    100% {
        transform: translate(0, 100%) scale(1);
        border-color: #66ccff transparent transparent transparent;
    }
}

@keyframes next_btn_aft-amt {
    0% {
        border-color: #66ccff transparent transparent transparent;
    }
    100% {
        border-color: #888 transparent transparent transparent;
    }
}


/*----------
next end
------------------------------------------
cell
-----------*/

.cell {
    display: flex;
}

.cell-hd,
.cell-ft {
    flex: 1
}

.cell-bd {
    flex: 3
}


/*----------
cell end
------------------------------------------
dir
-----------*/

.dir {
    -webkit-perspective: 500;
    perspective: 500;
    background: #66ccff;
    background: linear-gradient(#13CE66, #0d1a44);
}

.dir_hd {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    transform: rotateY(25deg) translateY(25%);
}

.dir_hd .u-icon {
    display: inline-block;
    border-bottom: 1px dashed #fff;
    margin-bottom: 50px;
    font-size: 150px;
    color: #fff;
    text-shadow: 0 0 20px #1D8CE0;
    animation: dirIcon 5s linear infinite;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, .0) 30%, rgba(250, 250, 250, 0.3));
    box-reflect: below 0 -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, .0) 30%, rgba(250, 250, 250, 0.3));
}

.dir_hd h2 {
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 2px 5px #0d1a44;
}

.dir_hd .u-en {
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.dir_hd .u-sm {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: #99A9BF;
}

.dir_hd-info {
    display: inline-block;
    padding: 5px;
    color: #99A9BF;
    font-weight: 100;
}

.dir_bd {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 25px;
    transform-origin: right;
    transform: rotateY(-15deg);
}

.dir_ct {
    -webkit-perspective: 500;
    perspective: 500;
    list-style: none;
    transition: all .5s;
}

.dir-item {
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    background: rgba(255, 255, 255, 0.2);
}

.dir-item:hover {
    transform: translateZ(50px);
    cursor: pointer;
    box-shadow: 25px 50px 50px rgba(0, 0, 0, 0.5);
    transition: all .5s;
    background: rgba(255, 255, 255, 0.8);
}

.dir-item_a:visited,
.dir-item_a:link {
    color: #000;
}

.dir-item_hd {
    flex: 2;
    background: #99A9BF;
    border-radius: 15px 0 0 15px;
}

.dir-item_ct {
    position: relative;
    padding-bottom: 50px;
    margin-left: 15px;
}

.dir-item_ft {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.dir-item_img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.dir-loadmore:hover {
    background: rgba(255, 255, 255, 0.2);
}

.dir-loadmore:active {
    background: rgba(255, 255, 255, 0.8);
}

.dir-load-more_btn {
    display: block;
    padding: 15px;
    font-size: 13px;
    text-align: center;
}

.dir-load-more_btn-null {
    color: #888;
}

@keyframes dirIcon {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.dir-item_anmt-enter-active,
.dir-item_anmt-leave-active {
    transition: all .5s;
    opacity: 0;
    transform: translate(0, -100%)
}

.dir-item_anmt-enter,
.dir-item_anmt-leave-active {
    opacity: 1;
    transform: translate(0, 0)
}

.dir-item_anmt-move {
    transition: all .5s;
}


/*----------
dir end
------------------------------------------
fd
-----------*/

.fd {}

.fd_hd {
    position: relative;
    height: 30%;
    text-align: center;
    color: #0d1a44;
}

.fd_hd-ct {
    position: absolute;
    top: -43px;
    width: 100%;
}

.fd_hd .u-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 3px dotted #1D8CE0;
    border-radius: 80px;
    margin-top: 1%;
    font-size: 25px;
    color: #0d1a44;
    background: #66ccff;
}

.fd_hd h2 {
    padding-top: 15px;
    font-weight: 100;
}

.fd_hd p {
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}

.fd_hd em {
    font-size: 1.5em;
    font-weight: bolder;
    color: #8d4bbb;
    font-family: inherit;
}

.fd_bd {
    height: 70%;
    background: rgba(50, 0, 50, 0.2);
    overflow: auto;
}

.fd_ct {
    list-style: none;
    padding: 15px;
}

.fd-item {
    margin: 15px;
}

.fd-item:nth-child(2n) .cell {
    flex-direction: row-reverse;
}

.fd-item:nth-child(2n) .cell-bd {
    text-align: right;
}

.fd-item:nth-child(2n) .fd-item_dialog {
    text-align: left;
}

.fd-item_img {
    position: relative;
    height: 50px;
    width: 50px;
    background: #f5f5f5;
    color: #0d1a44;
    font-size: 25px;
    text-align: center;
    background: #1D8CE0;
}

.fd-item_img .u-icon {
    line-height: 50px;
}

.fd-item:nth-child(2n+1) .fd-item_dialog {
    margin-left: 15px;
    background: #fff;
}

.fd-item:nth-child(2n) .fd-item_dialog {
    margin-right: 15px;
    background: #13CE66;
}

.fd-item_dialog {
    position: relative;
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
}

.fd-item_dialog::after {
    position: absolute;
    display: block;
    content: '';
    top: 15px;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: #fff #fff transparent transparent;
}

.fd-item:nth-child(2n+1) .fd-item_dialog::after {
    left: -10px;
}

.fd-item:nth-child(2n) .fd-item_dialog::after {
    right: -10px;
    border-color: #13CE66 transparent transparent #13CE66;
}

.fd_anmt-enter-active,
.fd_anmt-leave-active {
    transition: all .5s;
    transform: translate(0, 0);
    opacity: 1
}

.fd_anmt-enter,
.fd_anmt-leave-active {
    transition: all .5s;
    transform: translate(0, 100%);
    opacity: 0
}


/*----------
fd end
------------------------------------------
github
-----------*/

.github {
    background: radial-gradient(#66ccff, #fff)
}

.github_hd {
    height: 10%;
    justify-content: center;
    align-items: center;
    color: #F9FAFC;
    background: #13CE66;
}

.github_hd .u-icon {
    font-size: 50px;
}

.github_bd {
    position: relative;
    height: 90%;
    perspective: 500;
    -webkit-perspective: 500;
}

.github-item {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    height: 300px;
    margin-top: -150px;
    margin-left: -250px;
    background: #20A0FF;
    transition: all .5s;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, .0) 30%, rgba(250, 250, 250, 0.3));
    box-reflect: below 0 -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, .0) 30%, rgba(250, 250, 250, 0.3));
}

.github-item:hover {
    background: #58B7FF;
}

.github-item_0 {
    opacity: 0.6;
    transform-origin: left;
    transform: translateZ(-200px) translateX(-100%) rotateY(60deg)
}

.github-item_1 {
    opacity: 0.8;
    transform-origin: left;
    transform: translateZ(-100px) translateX(-50%) rotateY(30deg)
}

.github-item_4 {
    opacity: 0.6;
    transform-origin: right;
    transform: translateZ(-200px) translateX(100%) rotateY(-60deg);
}

.github-item_3 {
    opacity: 0.8;
    transform-origin: right;
    transform: translateZ(-100px) translateX(50%) rotateY(-30deg);
    z-index: 1;
}

.github-item_2 {
    transform: translateZ(0);
    z-index: 2;
}

.github-item_tt {
    padding: 25px 0;
    margin: 0 25px;
    font-size: 25px;
    color: #f5f5f5;
}

.github-item_ct {
    padding: 0 25px;
    height: 50%;
    overflow: auto;
    color: #f5f5f5;
}

.github-item_ft {
    justify-content: flex-end;
    padding: 0 25px;
}

.github-tag {
    margin-left: 15px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5)
}

.list_anmt-move {
    transition: all .5s;
}

.list_anmt-enter-active,
.list_anmt-leave-active {
    opacity: 1;
}

.list_anmt-enter,
.list_anmt-leave-active {
    opacity: 0;
}


/*----------
github end
------------------------------------------
aside
-----------*/

.aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all .5s;
    transform: translate(-100px, 0);
}

.aside-out {
    transform: translate(0, 0);
}

.aside_ct {
    width: 100px;
    height: 100%;
    box-shadow: 0 0 5px #1D8CE0;
    overflow: auto;
    background: #fff;
}

.aside-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(100%, 0);
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: url(../image/233.png) no-repeat;
    background-size: cover;
}

.aside-item {
    display: block;
    padding: 25px;
    text-align: center;
    color: #1D8CE0;
    transition: all .5s;
}

.aside-item.z-atv {
    background: #66ccff;
    color: #fff;
}

.aside-item .u-icon {
    display: block;
    font-size: 25px;
}

.aside-word {
    font-size: 12px;
}


/*----------
aside end
------------------------------------------
mask
-----------*/

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}

.mask-blur {
    filter: blur(5px)
}

.mask_anmt-enter-active,
.mask_anmt-leave-active {
    transition: all .5s;
    opacity: 1;
}

.mask_anmt-enter,
.mask_anmt-leave-active {
    opacity: 0;
}


/*----------
mask end
------------------------------------------
atc
-----------*/

.atc {
    transform: translate(-100%, 0);
    opacity: 0;
    transition: all .5s;
}

.atc,
.atc-ct {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #D3DCE6;
}

.atc-show {
    opacity: 1;
    transform: translate(0, 0)
}

.atc-mask {
    height: 150px;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    background-color: #58B7FF;
}

.atc-mask_blur {
    height: 170px;
    width: 102%;
    margin-top: -10px;
    margin-left: -1%;
    opacity: 0.8;
    filter: blur(10px);
    background-color: #58B7FF;
    background-size: cover;
    background-position: center;
}

.atc-ct {
    overflow-y: auto;
    background: none;
}

.atc-vw {
    width: 100%;
    max-width: 980px;
    margin: 75px auto;
    background: #fff;
}

.atc-vw>* {
    padding: 25px;
}

.atc-vw_hd {
    position: relative;
    min-height: 200px;
    padding: 0;
    background-color: #58B7FF;
    background-size: cover;
    background-position: center;
}

.atc-vw_mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.atc-vw_hgroup {
    position: absolute;
    bottom: 0;
    padding: 25px;
    vertical-align: bottom;
    color: #fff;
}

.atc-vw_hinfo {
    list-style: none;
    font-size: 0.8em;
    opacity: 0.5;
}

.atc-vw_hinfo li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 15px;
}

.atc-ft h5 {
    padding-top: 5px;
    border-top: 1px solid #99A9BF;
}

.atc-link {
    padding: 15px 0;
    list-style: none;
}

.atc-link,
.atc-link a:visited {
    margin: 15px 0;
    color: #58B7FF;
    font-size: 14px;
}

.atc-rdm:hover {
    text-decoration: underline;
}

.atc-link li {
    margin-top: 15px;
}

.atc-link_r {
    float: right;
}

.atc-bd {
    font-size: 16px;
}

.atc-bd img {
    max-width: 100%;
    margin: 5px auto;
}

.image-package {
    margin-bottom: 15px;
    text-align: center;
}

.image-caption {
    display: inline-block;
    color: #99A9BF;
    font-size: 13px;
}

.atc-bd p,
.atc-bd li {
    margin: 15px 0;
}

.atc-bd code {
    padding: 0 5px;
    margin: 0 5px;
}

.atc-bd code,
.atc-bd code * {
    font-family: Courier New, Courier, monospace
}

.atc-bd pre code {
    padding: 15px;
    margin: 0;
    overflow-x: auto;
    font-weight: 400;
}

.atc-bd .hljs-name {
    font-weight: normal;
}

.atc-bd ul {
    margin-left: 15px;
}


/*----------
atc end
------------------------------------------
atc
-----------*/