@media screen and (max-width:980px) {
    .mask-blur {
        filter: blur(0)
    }
    /*----------
    hd
    -----------*/
    .hd-card {
        top: 50%;
        transform: translate(0, -50%);
    }
    /*----------
    hd-card end
    ------------------------------------------
    dir
    -----------*/
    .dir {
        overflow-y: auto;
    }
    .dir_hd {
        display: none;
    }
    .dir_bd {
        padding: 15px;
        transform: none;
    }
    .dir,
    .dir_ct {
        -webkit-perspective: none;
        perspective: none;
    }
    .dir-item {
        width: 98%;
        padding: 1%;
        margin: 15px 0;
        background: rgba(255, 255, 255, 0.5)
    }
    .dir-item_a {
        flex-direction: column;
        color: #fff;
        padding: 0 5px;
    }
    .dir-item_hd {
        flex: 0;
        padding: 5px 0;
        background: none;
    }
    .dir-item_ct {
        margin-left: 0;
    }
    .dir-item_img {
        border-radius: 0;
    }
    .dir .next {
        display: none;
    }
    /*----------
    dir end
    ------------------------------------------
    github
    -----------*/
    .github_hd {
        justify-content: flex-end;
        padding-right: 15px;
    }
    .github_bd {
        overflow: hidden;
    }
    .github-item {
        left: 0;
        height: 240px;
        margin-top: -120px;
        margin-left: 0;
        background: #20A0FF;
        transition: all .5s;
        -webkit-box-reflect: unset;
        box-reflect: unset;
    }
    .github-item_0 {
        transform-origin: bottom;
        transform: translateZ(-120px) translateY(-180%) rotateX(45deg)
    }
    .github-item_1 {
        transform-origin: bottom;
        transform: translateZ(0) translateY(-100%) rotateX(30deg)
    }
    .github-item_4 {
        transform-origin: top;
        transform: translateZ(-120px) translateY(180%) rotateX(-45deg);
    }
    .github-item_3 {
        transform-origin: top;
        transform: translateZ(0) translateY(100%) rotateX(-30deg);
        z-index: 1;
    }
    .github-item_2 {
        transform: translateZ(0);
        z-index: 2;
    }
    /*----------
    github end
    ------------------------------------------
    atc
    -----------*/
    .atc-vw {
        margin: 0 auto;
        margin-bottom: 75px;
    }
    .atc-bd {
        padding: 15px;
    }
}