html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #f5f5f5;
	font-family: "微软雅黑";
}
.m-pg {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-image: url(https://o3vamlxcv.qnssl.com/bcpu/banner.jpg);
	background-size: cover;
	background-position: left;
}
.m-pg *:not(header){
	overflow: hidden;
}
/*function*/

.f-del {
	text-decoration: line-through;
}

/*transition*/

.m-hd a,
.u-btn,
.u-work {
	transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
}
/*unit*/

.u-btn {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #eee;
	border-radius: 10px;
	font-size: 15px;
	background: linear-gradient(#fff, #f5f5f5);
	color: #ffa7d9;
	outline: none;
}

.u-btn:hover {
	color: #217aa6;
	background: linear-gradient(#fff, #eee);
}
/*.m-hd*/
.m-hd{
	position:absolute;
	z-index: 10;
	width:78%;
	height:100%;
	background:#fff;
	transform: translateX(-100%);
	transition:all .5s;
}
.m-hd:hover{
	transform: translateX(0);
}
.m-hd * {
	vertical-align: middle;
}
.m-hd a {
	display: inline-block;
	width:90%;
	padding-left: 10%;
	margin: 5px 0;
	line-height: 50px;
	text-align: left;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #66cdff;
}
.m-hd nav{
	height:70%;
	overflow-y:auto ;
	background:#fff;
	
} 
.m-hd:after{
	display: block;
	content: '';
	position:absolute;
	bottom:0;
	right:0;
	height:80px;
	width:80px;
	background-image:url(../image/233.png);
	background-size: cover;
	transform: translateX(100%);
}
.m-hd .z-atv {
	background: #eee;
	color: #ffa7d9
}

.m-hd .u-home {
	width:90%;
	height:20%;
	padding-top:10%;
	margin:0;
	text-align: left;
	font-size: 40px;
	font-weight: 900;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #fff;
	background:#FFA7D9
}
/*.m-ct*/
.m-ct {
	position: relative;
	height: 100%;
}

.m-ct .g-tp {
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #FFA7D9
}

.m-ct dt {
	width: 0px;
	height: 0px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: #66ccff transparent transparent;
	margin: auto;
}

.m-ct dd {
	display: inline-block;
	padding: 5px 5%;
	border: solid #66ccff;
	border-width: 0 1px 0 1px;
	margin-top: 5px;
}

/*m-banner*/
.m-banner{
	position:relative;
	height:25%;
	text-align: center;
	color:#fff;
	background:rgba(255,167,217,0.8)
}
h1{
	font-size: 20px;
}
.m-banner p{
	font-size: 13px;
}
.m-banner p:nth-child(3){
	margin-bottom: 5px;
}
.m-banner .g-md{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	width:100%;
}

/*m-creater*/
.m-creater{
	height:75%;
	background:#fff;
}
.m-creater dt{
	border-color: #FFA7D9 transparent transparent;
}
.m-creater .g-md {
	position: relative ;
	width: 100%;
	height:100%;
	overflow-x: hidden;
	text-align: center;
}
.u-crt {
	position: absolute;
	top: 0;
	left: 50%;
	width: 300px;
	text-align: center;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
}

.u-crt1 {
	opacity: 0.2;
	transform: translate(-100%, 0);
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
}

.u-crt2 {
	z-index: 1;
	transform: translate(-50%, 20%) scale(1.2, 1.2);
	-webkit-transform: translate(-50%, 20%) scale(1.2, 1.2);
	-moz-transform: translate(-50%, 20%) scale(1.2, 1.2);
	-ms-transform: translate(-50%, 20%) scale(1.2, 1.2);
}

.u-crt3 {
	opacity: 0.2;
	transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}

.u-crt p {
	padding: 5px;
}

.u-crt img {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	overflow: hidden;
}

.u-crt .u-hd {
	display: inline-block;
	padding: 5px;
	border-radius: 80px;
	background: rgba(0, 0, 0, 0.2);
}

.u-crt .u-name {
	font-size: 20px;
	font-weight: bold;
	color: #FFA7D9;
}

.u-crt .u-summary {
	font-size: 12px;
	color: #666
}

/*m-work*/

.m-work {
	background: #66CCFF;
}

.m-work * {
	vertical-align: middle;
}

.m-work .g-tp {
	color: #fff;
}

.m-work .g-tp dt {
	border-color: #fff transparent transparent;
}

.m-work .g-tp dd {
	border-color: #fff;
}

.m-work .g-md{
	height:100%;
}
.u-work {
	position:relative;
	height:26%;
	overflow: visible;
	text-align: center;
	transition: all 1s;
}

.u-work1 {
	opacity: 0;
	transform: translateX(-50%);
}

.u-work2 {
	opacity: 0;
	transform: translateX(50%);
}

.u-work3 {
	opacity: 0;
	transform: translateY(50%);
}

.m-work .u-work:hover {
	color: #FFA7D9
}

.m-work .u-hd {
	display: inline-block;
	position:absolute;
	top:0;
	left:50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 150px;
	margin-left:-25px;
	overflow: hidden;
	background: #fff;
}

.m-work .iconfont {
	font-size: 30px;
	color: inherit!important;
}

.m-work .u-ct {
	display: inline-block;
	position:absolute;
	top:50%;
	left:25%;
	transform: translateX(-50%);
	color: #fff;
}

.m-work .f-del {
	font-size: 12px;
	font-weight: 100;
	color: #000
}

.m-work .u-title {
	font-size: 30px;
	font-weight: bold;
}

.m-work .u-ft {
	
	display: inline-block;
	position: absolute;
	bottom:0;
	top:50px;
	overflow: auto;
	padding:5px;
	border-left: 2px #fff solid;
	text-align: left;
	font-size: 15px;
	color: #fff;
}

/*m-pro*/
.m-pro{
	height:auto;
}
.m-pro .g-tp{
	transition: all 1s;
	font-size: 0;
}
.m-pro .g-tp dd{
	
}
.m-pro .g-tp dt {
	border-color: #FFA7D9 transparent transparent;
}
.m-pro .z-anmt{
	transform: rotateY(720deg);
}
.m-pro .g-tp dd {
	padding: 10px;
	margin:0 5px;
	margin-top:5px;
	border-color: #FFA7D9;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	background: #FFA7D9;
}

.m-pro .g-md {
	/* Safari */
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	flex-wrap:wrap;
	width: 96%;
	padding: 0 2%;
	
}

.m-pro .u-box {
	position: relative;
	flex-grow: 1;
	padding: 10px;
	margin: 10px;
	font-size: 14px;
	background: rgba(255, 255, 255, 0.5);
	
	transition: all .5s;
}

.m-pro .u-box:hover{
	z-index: 1;
	background:#fff;
}
.m-pro .u-box1{
	transform: rotateX(270deg) rotateY(270deg);
}
.m-pro .u-title {
	border-bottom: 1px solid #A6E1EC;
	font-size: 24px;
	font-weight: bold;
	color: #be6598;
}

.m-pro .u-title,
.m-pro .u-content,
.m-pro .u-footer {
	padding: 10px 0;
}

.m-pro .u-content {
	margin-bottom: 50px;
	line-height: 150%;
	color: #217AA6;
}

.m-pro .u-footer {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 35px;
	padding-bottom: 0;
	border-top: 1px solid #A6E1EC;
	text-align: right;
}

/*m-joinus*/

.m-joinus {
	padding: 20px 0;
	padding-bottom: 50px;
	text-align: center;
	background: #A6E1EC;
}

.m-joinus>* {
	margin: 20px;
}

.m-joinus p:nth-child(1) {
	margin-top:25px;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}

.m-joinus p:nth-child(3) {
	font-size: 30px;
	font-weight: bolder;
	color: #fff;
}

.m-joinus p:nth-child(5) {
	font-size: 35px;
	font-weight: bold;
	animation:shake2 .1s linear infinite alternate;
}

.m-joinus .u-btn {
	padding: 10px 40px;
	border-color: #00A1D6;
	background: #217AA6;
	font-size: 40px;
	font-weight: bolder;
	color: #fff;
	
	
}
/**/
.m-callus{
	background:#f5f5f5;
}
#feedbackForm{
	position:relative;
	top:10%;
	padding-bottom:100px;
	border-top:2px solid #66ccff;
	background:#fff;
}
#feedbackForm *{
	vertical-align: middle;
	color:#666;
}
#feedbackForm label{
	display: inline-block;
	font-size: 16px;
	width:20%;
	text-align: right;
	color:#FFA7D9;
}
#feedbackForm input{
	width:48%;
	border:none;
	padding:0 1%;
	font-size: 16px;
}
#feedbackForm button{
	position:absolute;
	bottom:0;
	right:50%;
	padding:2% 10%;
	border:1px solid #66ccff;
	border-radius: 10px;
	background:none;
	color:#66ccff;
	font-size: 15px;
	
	transform: translate(50%,-120%);
}
#feedbackForm textarea{
	width:78%;
	padding:0 1%;
	border:none;
	font-size: 16px;
}
#feedbackForm span{
	width:30%;
	font-size: 16px;
}
#feedbackForm .iconfont{
	position:absolute;
	right:0;
	bottom:50px;
	font-size: 50px;
	font-weight: bold;
	color: #bfba65;
	
	transform: rotate(45deg);
}
#feedbackForm .form-group{
	padding:10px 5px;
	font-size: 0;
	background:#fff;
	border-bottom: 1px solid #eee;
}
#feedbackForm .form-group:nth-child(4) *{
	vertical-align: top;
}
#feedbackForm .form-group:nth-child(4) span{
	display: inline-block;
	width:78%;
	margin-left:21%;
	font-size: 16px;
}
/*anmt*/
@keyframes shake1{
	0%{
		transform: translate(5px,5px) rotate(10deg);
	}
	100%{
		transform: translate(0,0) rotate(0);
	}
}
@keyframes shake2{
	0%{
		transform: translate(-5px,-5px);
	}
	25%{
		transform: translate(0px,0px);
	}
	50%{
		transform: translate(5px,-5px);
	}
	50%{
		transform: translate(0px,-10px);
	}
	100%{
		transform: translate(-5px,-5px);
	}
}
