<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>视图</title>
    <script src="https://at.alicdn.com/t/font_lde0pligsuyjh5mi.js"></script>
    <link rel="stylesheet" href="./css/views.css" />
</head>

<body>
    <div class="m-pg" id="content">
        <header class="g-hd">
            <p class="u-path">{{sFileHref||'/'}}</p>
            <input type="text" class="u-txt" placeholder="搜索" v-model="sQueryText" />
            <input type="button" class="u-btn" :class="{'z-no':!isAllow,'z-hv':isAllow}" value="后退" @click="eGoBack" />
        </header>
        <transition-group tag="div" name="list" class="m-ct">
            <div class="m-cell" v-for="item in aFilterList" key="item.name">
                <a key="item.name" target="_blank" :href="item.path" @click="eHref($event,item)">
                    <div class="g-hd" key="item.name">
                        <svg class="icon" style="font-size:100px" aria-hidden="true" key="item.name">
						<use :xlink:href="icon[sType(item.name)]||'#icon-documents'" key="item.name"></use>
					</svg>
                    </div>
                    <p key="item.name">{{item.name}}</p>
                </a>
                <a class="u-icon" target="_blank" :href="item.html_url" title="view in github" key="item.name">
                    <svg class="icon" aria-hidden="true" key="item.name">
						<use xlink:href="#icon-github" key="item.name"></use>
					</svg>
                </a>
                <a class="u-icon" target="_blank" title="download" key="item.name" v-if="item.download_url" :href="item.download_url">
                    <svg class="icon" aria-hidden="true" key="item.name">
						<use xlink:href="#icon-download" key="item.name"></use>
					</svg>
                </a>
            </div>
        </transition-group>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.0.0/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
    <script src="./js/views.js"></script>
</body>

</html>
