body,html{
	height:100%;
	width:100%;
	overflow: hidden;
	background:#F5F5F5
}
.m-pg *{
	overflow-x: hidden;
}
.m-pg{
	height:100%;
	overflow: auto;
}
#search_bar{
	position:absolute;
	top:0;
	z-index: 1;
	width:100%;
}
.m-ct{
	margin-top:54px;
	margin-bottom:105px;
}
.weui-media-box_appmsg .weui-media-box__hd{
	height:75px;
	width:75px;
}
