<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>机构列表</title>
		<link href="//cdn.bootcss.com/weui/1.0.1/style/weui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../css/list/index.css" />
	</head>

	<body>
		<div class="m-pg">
			<header class="m-hd weui-search-bar" id="search_bar">
				<form class="weui-search-bar__form">
					<div class="weui-search-bar__box">
						<i class="weui-icon-search"></i>
						<input type="search" class="weui-search-bar__input" id="search_input" placeholder="搜索" required="">
						<a href="javascript:" class="weui-icon-clear" id="search_clear"></a>
					</div>
					<label for="search_input" class="weui-search-bar__label" id="search_text" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                    	<i class="weui-icon-search"></i>
                    	<span>搜索</span>
                	</label>
				</form>
				<a class="weui-search-bar__cancel-btn" id="search_cancel">取消</a>
			</header>
			<section class="m-ct weui-panel ">
				<div class="weui-panel__bd">
					<a class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd">
							<img class="weui-media-box__thumb" src="../img/news/titleIcon.png" />
						</div>
						<div class="weui-media__bd">
							<h4 class="weui-media-box__title">为民医院</h4>
							<p class="weui-media-box__desc">综合医院</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">广州市天河区华景新城</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">600m</li>
							</ul>
						</div>
					</a>
					<a class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd">
							<img class="weui-media-box__thumb" src="../img/news/titleIcon.png" />
						</div>
						<div class="weui-media__bd">
							<h4 class="weui-media-box__title">为民医院</h4>
							<p class="weui-media-box__desc">综合医院</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">广州市天河区华景新城</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">600m</li>
							</ul>
						</div>
					</a>
					<a class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd">
							<img class="weui-media-box__thumb" src="../img/news/titleIcon.png" />
						</div>
						<div class="weui-media__bd">
							<h4 class="weui-media-box__title">为民医院</h4>
							<p class="weui-media-box__desc">综合医院</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">广州市天河区华景新城</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">600m</li>
							</ul>
						</div>
					</a>
					<a class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd">
							<img class="weui-media-box__thumb" src="../img/news/titleIcon.png" />
						</div>
						<div class="weui-media__bd">
							<h4 class="weui-media-box__title">为民医院</h4>
							<p class="weui-media-box__desc">综合医院</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">广州市天河区华景新城</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">600m</li>
							</ul>
						</div>
					</a>
					<a class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd">
							<img class="weui-media-box__thumb" src="../img/news/titleIcon.png" />
						</div>
						<div class="weui-media__bd">
							<h4 class="weui-media-box__title">为民医院</h4>
							<p class="weui-media-box__desc">综合医院</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">广州市天河区华景新城</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">600m</li>
							</ul>
						</div>
					</a>
					<a class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd">
							<img class="weui-media-box__thumb" src="../img/news/titleIcon.png" />
						</div>
						<div class="weui-media__bd">
							<h4 class="weui-media-box__title">为民医院</h4>
							<p class="weui-media-box__desc">综合医院</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">广州市天河区华景新城</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">600m</li>
							</ul>
						</div>
					</a>
					<a class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd">
							<img class="weui-media-box__thumb" src="../img/news/titleIcon.png" />
						</div>
						<div class="weui-media__bd">
							<h4 class="weui-media-box__title">为民医院</h4>
							<p class="weui-media-box__desc">综合医院</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">广州市天河区华景新城</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">600m</li>
							</ul>
						</div>
					</a>
					<a class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd">
							<img class="weui-media-box__thumb" src="../img/news/titleIcon.png" />
						</div>
						<div class="weui-media__bd">
							<h4 class="weui-media-box__title">为民医院</h4>
							<p class="weui-media-box__desc">综合医院</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">广州市天河区华景新城</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">600m</li>
							</ul>
						</div>
					</a>
				</div>
			</section>
		</div>
	</body>

</html>