<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>资讯</title>
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/news/index.css" />
	</head>
	<body>
		<div class="m-pg">
			<div id="content" class="m-ct">
				<section>
					<div class="g-hd">
						<img class="u-ttImg" src="../img/news/titleIcon.png"/>
						<dl>
							<dt>为什么补牙之后还会出现牙疼</dt>
							<dd>经常有很多患者会问这样的问题：为什么牙洞去...</dd>
						</dl>
					</div>
					<div class="g-ct">
						<img class="u-ctImg" src="../img/news/contentImg.png" />
					</div>
				</section>
				<section>
					<div class="g-hd">
						<img class="u-ttImg" src="../img/news/titleIcon.png"/>
						<dl>
							<dt>为什么补牙之后还会出现牙疼</dt>
							<dd>经常有很多患者会问这样的问题：为什么牙洞去...</dd>
						</dl>
					</div>
					<div class="g-ct">
						<img class="u-ctImg" src="../img/news/contentImg.png" />
					</div>
				</section>
				<section>
					<div class="g-hd">
						<img class="u-ttImg" src="../img/news/titleIcon.png"/>
						<dl>
							<dt>为什么补牙之后还会出现牙疼</dt>
							<dd>经常有很多患者会问这样的问题：为什么牙洞去...</dd>
						</dl>
					</div>
					<div class="g-ct">
						<img class="u-ctImg" src="../img/news/contentImg.png" />
					</div>
				</section>
				<section>
					<div class="g-hd">
						<img class="u-ttImg" src="../img/news/titleIcon.png"/>
						<dl>
							<dt>为什么补牙之后还会出现牙疼</dt>
							<dd>经常有很多患者会问这样的问题：为什么牙洞去...</dd>
						</dl>
					</div>
					<div class="g-ct">
						<img class="u-ctImg" src="../img/news/contentImg.png" />
					</div>
				</section>
				<section>
					<div class="g-hd">
						<img class="u-ttImg" src="../img/news/titleIcon.png"/>
						<dl>
							<dt>为什么补牙之后还会出现牙疼</dt>
							<dd>经常有很多患者会问这样的问题：为什么牙洞去...</dd>
						</dl>
					</div>
					<div class="g-ct">
						<img class="u-ctImg" src="../img/news/contentImg.png" />
					</div>
				</section>
			</div>
			<footer class="m-ft">
				<a>预约</a>
				<a class="z-atv">资讯</a>
				<a>我的</a>
			</footer>
		</div>
	</body>
</html>
