@import (reference) "~src/styles/theme.less";
#HomePageArticle{
    height: 600px;
    background: @white-color;
    li{
        height: 150px;
        margin:30px 15px;
        background: @seconrd-color
    }
    h2{
        color:@white-color;
        font-weight: normal;
        font-size: 18px
    }
}