@import (reference) "~src/styles/theme.less";
#HomePageArticle{
    height: 600px;
    background: @white-color;
    li{
        height: 150px;
        margin:35px 15px;
        background: @seconrd-color;
        box-shadow: 0 15px 15px 0 fade(@seconrd-color,50%)
    }
    h2{
        color:@white-color;
        font-weight: normal;
        font-size: 18px
    }
}